<!--Doctype HTML-->
<html>
    <head>
        <title>Nike.Just Do It.</title>
        <link nes="" rel="icon" sizes="192x192" href="https://www.nike.com/android-icon-192x192.png">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="CSS/index.css">
    </head>
    <body>
        <!--naviagtion start-->
        <div class="navigation-container">
            <div class="menu-left">
                <a href="Index.html" class="logo"><img src="images/Index/nike_PNG7.png"></a>
                <div class="dropdown">
                    <button class="dropbtn"><a href="MEN.HTML" style="text-decoration: none; color: white;">MEN</a></button>
                    <div class="dropdown-content">
                        <a href="MEN/MENS.HTML" style="color:black;">SHOES</a>
                        <a href="MEN/MENC.html" style="color:black;">CLOTHING</a>
                        <a href="MEN/MENA.HTML" style="color:black;">ACCESSORIES</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">WOMEN</button>
                    <div class="dropdown-content">
                        <a href="WomenShoe.html" style="color:black;">SHOES</a>
                        <a href="WOMEN/WomenDress.html" style="color:black;">CLOTHING</a>
                        <a href="WOMEN/WomenAcc.html" style="color:black;">ACCESSORIES</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">ACCESSORIES</button>
                    <div class="dropdown-content">
                        <a href="MEN/MENA.HTML" style="color:black;">MEN</a>
                        <a href="WOMEN/WomenAcc.htmlWomenAcc.html" style="color:black;">WOMEN</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn"><a href="Form.html" class="text">JOIN US</a></button>
                </div>
            </div>
            <div class="search-box menu-right">
                <i class="fa fa-search" style="color: white;"></i>
                <input type="search" placeholder="Search Here">
            </div>
        </div>
        <!--navigation end-->  
        
        <header class="container head" style="border: none;">
            <div class="center">
                <p style="font-size: 40px; font-style: italic;">
                    "Your FUTURE is created by what you do TODAY not TOMORROW."
                    <br>
                </p>
                <p style="margin-right: 75px; font-size: 25px; font-style: italic; text-align: right;">
                    -NIKE
                </p>
            </div>
        </header>

        <!--Slide Container-->
        <div class="slide-container ">

            <!--Slide 1-->
            <div class="slide">
                <div class="slide-box">
                    <div class="slide-text">
                        <h6>
                             N E W &emsp; C O L L E C T I O N S
                        </h6>
                        <h2>
                            NEW NIKE &emsp; RACT FLYKNIT
                        </h2>
                        <p>
                            The search for a softer, springer, lighter and more double foam led to a break-through in cushioning.
                        </p>
                        <div class="categories">
                            <select>
                                <option value="qnt">Quantity</option>
                                <option value="qnt1">1</option>
                                <option value="qnt2">2</option>
                                <option value="qnt3">3</option>
                                <option value="qnt4">4</option>
                                <option value="qnt5">5</option>
                            </select>
                            <select>
                                <option value="">Size</option>
                                <option value="size 7">UK 7</option>
                                <option value="size 8">UK 8</option>
                                <option value="size 9">UK 9</option>
                                <option value="size 10">UK 10</option>
                                <option value="size 11">UK 11</option>
                            </select>
                            <a>&#8377; 8995</a>
                        </div>
                    </div>
                    <div class="slide-img">
                        <img src="images/Index/275155267037211.png">
                    </div>
                </div>
                <div class="cart">
                    <a href="#">ADD TO CART</a>
                </div>
            </div>

            <!--Slide 2-->
            <div class="slide">
                <div class="slide-box">
                    <div class="slide-text">
                        <h6>
                             N E W &emsp; C O L L E C T I O N S
                        </h6>
                        <h2>
                            GOLDEN STATE WARRIORS JERSY
                        </h2>
                        <p>
                            The long wait is over. Intoducing the official Golden State Warriors Jersy. It comes with our latest quick-dry technology which keeps you sweat free for a long period of time.
                        </p>
                        <div class="categories">
                            <select>
                                <option value="qnt">Quantity</option>
                                <option value="qnt1">1</option>
                                <option value="qnt2">2</option>
                                <option value="qnt3">3</option>
                                <option value="qnt4">4</option>
                                <option value="qnt5">5</option>
                            </select>
                            <select>
                                <option value="">Size</option>
                                <option value="size S">S</option>
                                <option value="size M">M</option>
                                <option value="size L">L</option>
                                <option value="size XL">XL</option>
                                <option value="size XXL">XXL</option>
                            </select>
                            <a href="#">&#8377; 1999</a>
                        </div>
                    </div>
                    <div class="slide-img">
                        <img src="images/Index/GSW.jpg">
                    </div>
                </div>
                <div class="cart">
                    <a href="#">ADD TO CART</a>
                </div>
            </div>

            <!--Slide 3-->
            <div class="slide">
                <div class="slide-box">
                    <div class="slide-text">
                        <h6>
                             N E W &emsp; C O L L E C T I O N S
                        </h6>
                        <h2>
                            NEW NIKE &emsp; AIR JORDANS
                        </h2>
                        <p>
                            Are you looking for some basketball shoes? Here we are, yet again with the all new Air Jordans, our best yet! Super light weight shoes, engineered to bring out the best in you! 
                        </p>
                        <div class="categories">
                            <select>
                                <option value="qnt">Quantity</option>
                                <option value="qnt1">1</option>
                                <option value="qnt2">2</option>
                                <option value="qnt3">3</option>
                                <option value="qnt4">4</option>
                                <option value="qnt5">5</option>
                            </select>
                            <select>
                                <option value="">Size</option>
                                <option value="size 7">UK 7</option>
                                <option value="size 8">UK 8</option>
                                <option value="size 9">UK 9</option>
                                <option value="size 10">UK 10</option>
                                <option value="size 11">UK 11</option>
                            </select>
                            <a href="#">&#8377; 12549</a>
                        </div>
                    </div>
                    <div class="slide-img">
                        <img src="images/Index/jordan.jpg">
                    </div>
                </div>
                <div class="cart">
                    <a href="#">ADD TO CART</a>
                </div>
            </div>
        </div>
        <footer class="container" style="border: none;">
            <div class="center">
                <p style="font-size: 40px; font-style: italic;">
                    "The one's who say you CAN'T, are too afraid you WILL!"
                </p>                
                <p style="margin-right: 150px; font-size: 25px; font-style: italic; text-align: right;">
                    -NIKE
                </p>
            </div>
        </footer>
        <br><br><br>
        <footer class="container">
            <div class="right">
                <p style="font-size: 25px;">Find us on social media.</p>
                <a href="http://www.instagram.com/nike"><i class="fa fa-instagram hover-opacity" style="font-size: 25px;"></i></a>
                <a href="https://www.youtube.com/user/nike"><i class="fa fa-youtube hover-opacity" style="font-size: 25px;"></i></a>
                <a href="https://twitter.com/Nike?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa fa-twitter hover-opacity" style="font-size: 25px;"></i></a>
            </div>
            <div class="left">
                <p style="font-size: 25px; text-align: center; margin-left: 250px;">Contact Us.</p>
                    <p>
                        <div class="mail">     
                            Email:
                        </div>
                        <div class="mail" style="text-align: left; margin-left: 65px;">
                            <a href="mailto: aashuv75@gmail.com">Marketing Officer</a><br>
                            <a href="mailto: akhilkas2001@gmail.com">Manager</a>
                        </div>
                        <div class="phone">     
                            Phone Number:
                        </div>
                        <div class="phone" style="text-align: left; margin-left: 0px; position: absolute;">
                            &nbsp;&nbsp;&nbsp;
                            <a>Marketing Officer: 6281370941</a><br>
                            &nbsp;&nbsp;&nbsp;
                            <a>Manager: 9113046947</a>
                        </div>
                    </p>
            </div>
        </footer>
    </body>
</html>