<html>
    <head>
        <TITLE>Women's Shoes</TITLE>
        <link nes="" rel="icon" sizes="192x192" href="https://www.nike.com/android-icon-192x192.png">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="CSS/Wmen.css">
    </head>
    <body> 
    <header><a class="button">SHOES</a></header>
    <TABLE style="width:100%">
        <TR>
            <TD><CENTER><div class="container">
                <img src="images/Women/shoe1.jpg" alt="shoes" class="image">
                </CENTER>
        <CENTER>
            <TABLE>
            <TR>
                <TD>
                    <P><B>Nike Air Zoom Pegasus 37</B></P>
                </TD>
            </TR>
            <TR>
                <TD>
                    <P><FONT COLOR="GREY">Women's Running Shoes</FONT></P>
                </TD>
            </TR>
            <TR>
                <TD>
                    <P><FONT COLOR="GREY">6 colours</FONT></P>
                </TD>
            </TR>
            <TR>
                <TD><FONT COLOR="Black"><b> &#8377;9,995</b></FONT>
            </TD>
        </TR>
        <TR>
            <TD>
                <STRIKE><FONT COLOR="GREY"> &#8377;12,999</STRKE></FONT></P>
            </TD>
        </TR>
    </TABLE></CENTER>
    <TD>
        <CENTER><div class="container">
        <img src="images/Women/shoe2.jpg" alt="shoes" class="image">
        </CENTER>
        <CENTER><TABLE>
            <TR>
                <TD>
                    <P><B>Nike Air Max 270 React SE</B></P>
                </TD>
            </TR>
            <TR>
                <TD>
                    <P><FONT COLOR="GREY">Women's Shoe</FONT></P>
                </TD>
            </TR>
            <TR>
                <TD><P><FONT COLOR="GREY">2 colours</FONT></P>
                </TD>
            </TR>
            <TR>
                <TD><FONT COLOR="Black"> <b>&#8377;13,995</b></FONT>
                </TD>
            </TR>
            </TABLE></CENTER>
    </TD>
    <TD>
        <CENTER>
            <div class="container">
                <img src="images/Women/shoe3.jpg" alt="shoe" class="image">
            </div>
        </CENTER>
        <CENTER>
            <TABLE>
                <TR>
                    <TD>
                        <P><B>Nike NSW React Vision Essential</B></P>
                    </TD>
                </TR>
                <TR>
                    <TD>
                            <P><FONT COLOR="GREY">Women's shoe</FONT></P>
                        </TD>
                    </TR>
                    <TR>
                        <TD>
                            <P><FONT COLOR="GREY">1 colour</FONT></P>
                        </TD>
                    </TR>
                    <TR>
                        <TD>
                            <FONT COLOR="BLACK"> <b>&#8377;10,995</b></FONT>
                        </TD>
                    </TR>
                    <TR>
                        <TD>
                            <STRIKE><FONT COLOR="GREY"> &#8377;12,500</STRKE></FONT></P>
                        </TD>
                    </TR>
                </TABLE>
            </CENTER>
        </TR>
    <TR>
    <TD><CENTER><div class="container">
        <img src="images/Women/shoe4.jpg" alt="shoe" class="image">
  	</CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><B>Nike Air Zoom Pegasus 37 FlyEase</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Women's Running Shoes</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">1 colour</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="Black"><b> &#8377;9,995</b></FONT>
            </TD>
        </TR>
        <TR>
            <TD><STRIKE><FONT COLOR="GREY"> &#8377;11,500</STRKE></FONT></P>
            </TD>
        </TR>
        </TABLE></CENTER>
    </TD>
    <TD><CENTER><div class="container">
        <img src="images/Women/shoe5.jpg" alt="shoe" class="image">
  	</CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><B>Nike React Infinity Run Flyknit</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Women's Running Shoes</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">8 colours</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="Black"><b> &#8377;13,995</b></FONT>
            </TD>
        </TR>
        </TABLE></CENTER>
    </TD>
    <TD><CENTER><div class="container">
        <img src="images/Women/shoe6.jpg" alt="shoe" class="image">
  	</CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><B>Nike Air Force 1'07 SE</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Women's Jogging Shoes</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">2 colours</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="BLACK"><b> &#8377;7,995</b></FONT>
            </TD>
        </TR>
        <TR>
            <TD><STRIKE><FONT COLOR="GREY"> &#8377;12,500</STRKE></FONT></P>
            </TD>
        </TR>
        </TABLE></CENTER>
</TR>
<TR>
    <TD><CENTER><div class="container">
        <img src="images/Women/shoe7.jpg" alt="shoe" class="image">
  	</CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><B>Jordan Delta</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Women's Shoe</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">1 colour</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="BLACK"> <b>&#8377;10,995</b></FONT>
            </TD>
        </TR>
        <TR>
            <TD><STRIKE><FONT COLOR="GREY"> &#8377;12,500</STRKE></FONT></P>
            </TD>
        </TR>
        </TABLE></CENTER>
    </TD>
    <TD><CENTER><div class="container">
        <img src="images/Women/shoe8.jpg" alt="shoe" class="image">
  	</CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><B>Nike Alphina 5000</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Women's Shoe</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">2 colours</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="BLACK"><b> &#8377;8,995</b></FONT>
            </TD>
        </TR>
        <TR>
            <TD><STRIKE><FONT COLOR="grey"> &#8377;10,525</STRKE></FONT></P>
            </TD>
        </TR>
        </TABLE></CENTER>
    </TD>
    <TD><CENTER><div class="container">
        <img src="images/Women/shoe9.jpg" alt="shoe" class="image">
  	</CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><B>Nike Air Max 90</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Women's Shoe</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">2 colours</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="BLACK"><b> &#8377;9,995</b></FONT>
            </TD>
        </TR>
        </TABLE></CENTER>
</TR>
</TABLE>
</right>
</BODY>
</HTML>
