<HTML>
<HEAD>
<TITLE>Nike Heritage Backpack 2.0</TITLE>
<link rel="stylesheet" type="text/css" href="../CSS/MAIN1.CSS">
<link nes="" rel="icon" sizes="192x192" href="https://www.nike.com/android-icon-192x192.png">
</HEAD>
<body bgcolor="grey">
<TABLE style="width:100%" >
<TR>
    <TD bgcolor="black"><center><a href="MENC.HTML" class="button">CLOTHING</a></CENTER></TD>
    <TD bgcolor="black"><CENTER><a href="MENS.HTML" class="button">SHOES</a></CENTER></TD>
    <TD bgcolor="black"><CENTER><a href="MENA.HTML" class="button">ACCESSORIES</a></CENTER></TD>
</TR>
</TABLE>
<P class="intro"><p><b><center>Nike Nature</center></b></p>
<TABLE>
<TR>
    <TD><P><img src="../images/MEN/MEN9.JPG" alt="Avatar" class="image2"></P><br></TD>
    <TD>
       <center> <P><FONT COLOR="black" style="font-size:25px;">Backpack.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8377;3,000</FONT></p><br>
        <P FONT COLOR="black" style="font-size:25px;"><b>Backpack's Photo</P><br>
        <img src="../images/MEN/MEN9.JPG" alt="Avatar" class="image1"><br><br>
        <center><div class="cart"><a href="#">ADD TO CART</a></div><br></center></center>
    </TD>
</TR>
</TABLE>
</body>
</HTML>