<HTML>
<HEAD>
<TITLE>Jordan X Paris-Saint-German Edition</TITLE>
<link rel="stylesheet" type="text/css" href="../CSS/MAIN1.CSS">
<link nes="" rel="icon" sizes="192x192" href="https://www.nike.com/android-icon-192x192.png">
</HEAD>
<body bgcolor="grey">
<TABLE style="width:100%" >
<TR>
    <TD bgcolor="black"><center><a href="MENC.HTML" class="button">CLOTHING</a></CENTER></TD>
    <TD bgcolor="black"><CENTER><a href="MENS.HTML" class="button">SHOES</a></CENTER></TD>
    <TD bgcolor="black"><CENTER><a href="MENA.HTML" class="button">ACCESSORIES</a></CENTER></TD>
</TR>
</TABLE>
<P class="intro"><p><b><center>Jordan X Paris-Saint-German Edition</center></b></p>
<TABLE>
<TR>
    <TD><P><img src="../images/Men/MENC6.jpg" alt="Avatar" class="image2"></P><br></TD>
    <TD>
       <center> <P><FONT COLOR="black" style="font-size:25px;">Nike Sports Wear.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8377;3,000</FONT></p><br>
        <P FONT COLOR="black" style="font-size:25px;"><b>Sports Wear's Photo</P><br>
        <img src="../images/Men/MENC6.jpg" alt="Avatar" class="image1">
        <P FONT COLOR="black" style="font-size:25px;">Sizes Available:</P><br>
        <center><P class="button2">US XS</P>&nbsp;&nbsp;&nbsp;<P class="button2">US S</P>&nbsp;&nbsp;&nbsp;<P class="button2">US M</P></center><br>
        <center><P class="button2">US L</P>&nbsp;&nbsp;&nbsp;<P class="button2">US XL</P>&nbsp;&nbsp;&nbsp;<P class="button2">US XXL</P></center><br><br>
        <center><div class="cart"><a href="#">ADD TO CART</a></div><br></center></center>
    </TD>
</TR>
</TABLE>
</body>
</HTML>