<HTML>
<HEAD>
<TITLE>Men's Clothing</TITLE>
<link rel="stylesheet" type="text/css" href="../CSS/MAIN.CSS">
<link nes="" rel="icon" sizes="192x192" href="https://www.nike.com/android-icon-192x192.png">
</HEAD>
<BODY>
<header><a class="button">CLOTHING</a></header>
<TABLE style="width:100%">
<TR>
    <TD><CENTER><div class="container">
        <img src="../images/Men/MENC8.jpg" alt="Avatar" class="image">
  	<div class="overlay">
        <div class="text"><a href="MENC1ST.HTML" class="button1">Click to know more!</a>
  	</div></div></CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><B>Kyrie Irving</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Men's Basketball Full-Zip</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">1 colour</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="Black"><b> &#8377;4,797</b></FONT>
            </TD>
        </TR>
        <TR>
            <TD><STRIKE><FONT COLOR="GREY"> &#8377;5,495</STRKE></FONT></P>
            </TD>
        </TR>
        </TABLE></CENTER>
    </TD>
    <TD><CENTER><div class="container">
        <img src="../images/Men/MENC1.jpg" alt="Avatar" class="image">
  	<div class="overlay">
        <div class="text"><a href="MENC2ND.HTML" class="button1">Click to know more!</a>
  	</div></div></CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><B>Korea 2020 Stadium away</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Men's Football Wear</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">1 colour</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="black"><b> &#8377;1,500</b></FONT>
            </TD>
        </TR>
        </TABLE></CENTER>
    </TD>
    <TD><CENTER><div class="container">
        <img src="../images/Men/MENC7.jpg" alt="Avatar" class="image">
  	<div class="overlay">
        <div class="text"><a href="MENC3RD.HTML" class="button1">Click to know more!</a>
  	</div></div></CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><B>Nike Rise 365</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Men's Short-Sleeve Running Top</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">1 colour</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="Black"><b> &#8377;1,995</b></FONT>
            </TD>
        </TR>
        </TABLE></CENTER>
</TR>
<TR>
    <TD><CENTER><div class="container">
        <img src="../images/Men/MENC2.jpg" alt="Avatar" class="image">
  	<div class="overlay">
        <div class="text"><a href="MENC5TH.HTML" class="button1">Click to know more!</a>
  	</div></div></CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><B>Nike Dri-FIT</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Men's Basketball T-Shirt</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">3 colour</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="BLACK"><b> &#8377;1,197</b></FONT>
            </TD>
        </TR>
        <TR>
            <TD><STRIKE><FONT COLOR="GREY"> &#8377;1,495</STRKE></FONT></P>
            </TD>
        </TR>
        </TABLE></CENTER>
    </TD>
    <TD><CENTER><div class="container">
        <img src="../images/Men/MENC5.jpg" alt="Avatar" class="image">
  	<div class="overlay">
        <div class="text"><a href="MENC6TH.HTML" class="button1">Click to know more!</a>
  	</div></div></CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><B>Golden State Warriors Nike</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Men's NBA Trousers</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">2 colour</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="black"> <b>&#8377;3,297</b></FONT>
            </TD>
        </TR>
        </TABLE></CENTER>
    </TD>
    <TD><CENTER><div class="container">
        <img src="../images/Men/MENC9.jpg" alt="Avatar" class="image">
  	<div class="overlay">
        <div class="text"><a href="MENC7TH.HTML" class="button1">Click to know more!</a>
  	</div></div></CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><B>Jordan Jumpman</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Men's Shorts</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">1 colour</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="black"><b> &#8377;2,295</b></FONT>
            </TD>
        </TR>
        <TR>
            <TD><STRIKE><FONT COLOR="GREY"> &#8377;2,495</STRKE></FONT></P>
            </TD>
        </TR>
        </TABLE></CENTER>
</TR>
<TR>
    <TD><CENTER><div class="container">
        <img src="../images/MEN/MENC3.jpg" alt="Avatar" class="image">
  	<div class="overlay">
        <div class="text"><a href="MENC8TH.HTML" class="button1">Click to know more!</a>
  	</div></div></CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><B>Lakers Icon Edition</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Nike NBA Swingman Jersy</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">1 colour</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="BLACK"><b> &#8377;3,995</b></FONT>
            </TD>
        </TR>
        <TR>
            <TD><STRIKE><FONT COLOR="GREY"> &#8377;4,995</STRKE></FONT></P>
            </TD>
        </TR>
        </TABLE></CENTER>
    </TD>
    <TD><CENTER><div class="container">
        <img src="../images/Men/MENC6.jpg" alt="Avatar" class="image">
  	<div class="overlay">
        <div class="text"><a href="MENC9TH.HTML" class="button1">Click to know more!</a>
  	</div></div></CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><b>Jordan X Paris-Saint-German Edition</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Nike Sports Wear</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">1 colour</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="Black"> <b>&#8377;3,000</b></FONT>
            </TD>
        </TR>
        <TR>
            <TD><STRIKE><FONT COLOR="GREY"> &#8377;4,000</STRKE></FONT></P>
            </TD>
        </TR>
        </TABLE></CENTER>
    </TD>
    <TD><CENTER><div class="container">
        <img src="../images/Men/MENC4.jpg" alt="Avatar" class="image">
  	<div class="overlay">
        <div class="text"><a href="MENC4TH.HTML" class="button1">Click to know more!</a>
  	</div></div></CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><B>Nike AGC</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Men's Woven Shorts</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">1 colour</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="Black"> <b>&#8377;3,000</b></FONT>
            </TD>
        </TR>
        </TABLE></CENTER>
</TR>
</TABLE>
</BODY>
</HTML>