<HTML>
<HEAD>
<TITLE>Men's.Shoes</TITLE>
<link rel="stylesheet" type="text/css" href="../CSS/MAIN.CSS">
<link nes="" rel="icon" sizes="192x192" href="https://www.nike.com/android-icon-192x192.png">
</HEAD>
<BODY>
<header><a class="button">SHOES</a></header>
<TABLE style="width:100%">
<TR>
    <TD><CENTER><div class="container">
        <img src="../images/Men/MEN3.jpg" alt="Avatar" class="image">
  	<div class="overlay">
        <div class="text"><a href="MENS1ST.HTML" class="button1">Click to know more!</a>
  	</div></div></CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><B>Nike React Phantom Run/B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Men's Shoes</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">1 colour</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="Black"><b> &#8377;11,995</b></FONT>
            </TD>
        </TR>
        <TR>
            <TD><STRIKE><FONT COLOR="GREY"> &#8377;14,500</STRKE></FONT></P>
            </TD>
        </TR>
        </TABLE></CENTER>
    </TD>
    <TD><CENTER><div class="container">
        <img src="../images/Men/MENS7.jpg" alt="Avatar" class="image">
  	<div class="overlay">
        <div class="text"><a href="MENS2ND.HTML" class="button1">Click to know more!</a>
  	</div></div></CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><B>Nike Metcon 5</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Men's Shoes</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">4 colour</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="Black"><b> &#8377;10,995</b></FONT>
            </TD>
        </TR>
        </TABLE></CENTER>
    </TD>
    <TD><CENTER><div class="container">
        <img src="../images/Men/MEN8.jpg" alt="Avatar" class="image">
  	<div class="overlay">
        <div class="text"><a href="MENS3RD.HTML" class="button1">Click to know more!</a>
  	</div></div></CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><B>Men's React Infinity Run</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Running Shoes</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">1 colour</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="BLACK"><b> &#8377;13,995</b></FONT>
            </TD>
        </TR>
        <TR>
            <TD><STRIKE><FONT COLOR="GREY"> &#8377;14,995</STRKE></FONT></P>
            </TD>
        </TR>
        </TABLE></CENTER>
</TR>
<TR>
    <TD><CENTER><div class="container">
        <img src="../images/Men/MENS1.jpg" alt="Avatar" class="image">
  	<div class="overlay">
        <div class="text"><a href="MENS4TH.HTML" class="button1">Click to know more!</a>
  	</div></div></CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><B>Nike Air VaporMax FlyKnit 3</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Men's Shoe</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">5 colour</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="BLACK"><b> &#8377;16,995</b></FONT>
            </TD>
        </TR>
        </TABLE></CENTER>
    </TD>
    <TD><CENTER><div class="container">
        <img src="../images/Men/MENS2.jpg" alt="Avatar" class="image">
  	<div class="overlay">
        <div class="text"><a href="MENS5TH.HTML" class="button1">Click to know more!</a>
  	</div></div></CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><B>Air Jordan XXXIV PF</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Basketball Shoe</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">2 colours</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="black"> <b>&#8377;14,995</b></FONT>
            </TD>
        </TR>
        </TABLE></CENTER>
    </TD>
    <TD><CENTER><div class="container">
        <img src="../images/Men/MENS3.jpg" alt="Avatar" class="image">
  	<div class="overlay">
        <div class="text"><a href="MENS6TH.HTML" class="button1">Click to know more!</a>
  	</div></div></CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><B>LeBron 7 QS</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Men's Shoe</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">2 colour</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="black"><b> &#8377;16,000</b></FONT>
            </TD>
        </TR>
        </TABLE></CENTER>
</TR>
<TR>
    <TD><CENTER><div class="container">
        <img src="../images/Men/MENS4.jpg" alt="Avatar" class="image">
  	<div class="overlay">
        <div class="text"><a href="MENS7TH.HTML" class="button1">Click to know more!</a>
  	</div></div></CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><B>Nike Zoom Fly 3</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Men's Running Shoe</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">3 colour</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="BLACK"><b> &#8377;13,995</b></FONT>
            </TD>
        </TR>
        </TABLE></CENTER>
    </TD>
    <TD><CENTER><div class="container">
        <img src="../images/Men/MENS6.jpg" alt="Avatar" class="image">
  	<div class="overlay">
        <div class="text"><a href="MENS8TH.HTML" class="button1">Click to know more!</a>
  	</div></div></CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><b>Nike JoyRide Run FlyKnit</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Men's Running Shoe</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">7 colour</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="Black"> <b>&#8377;14,995</b></FONT>
            </TD>
        </TR>
        </TABLE></CENTER>
    </TD>
    <TD><CENTER><div class="container">
        <img src="../images/Men/MENS5.jpg" alt="Avatar" class="image">
  	<div class="overlay">
        <div class="text"><a href="MENS9TH.HTML" class="button1">Click to know more!</a>
  	</div></div></CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><B>Nike Air Max 97</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Men's Shoe</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">1 colour</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="Black"> <b>&#8377;15,995</b></FONT>
            </TD>
        </TR>
        </TABLE></CENTER>
</TR>
</TABLE>
</BODY>
</HTML>