<HTML>
    <HEAD>
        <TITLE>Women's Clothing</TITLE>
        <link nes="" rel="icon" sizes="192x192" href="https://www.nike.com/android-icon-192x192.png">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../CSS/Wmen.css">
    </HEAD>
    <BODY>
        <header><a class="button">CLOTHING</a></header>
        <TABLE style="width:100%">
            <TR>
                <TD><CENTER><div class="container">
                    <img src="../images/Women/dress11.jpg" alt="clothing" class="image">
                    </CENTER>
                    <CENTER><TABLE>
                        <TR>
            <TD><P><B>Nike Air</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Women's Mock Tank</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">1 colour</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="Black"><b> &#8377;2,195</b></FONT>
            </TD>
        </TR>
        <TR>
            <TD><STRIKE><FONT COLOR="GREY"> &#8377;3,995</STRKE></FONT></P>
            </TD>
        </TR>
        </TABLE></CENTER>
    </TD>
    <TD><CENTER><div class="container">
        <img src="../images/Women/dress10.jpg" alt="clothing" class="image">
  	</CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><B>Nike Sportswear</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Women's Short-Sleeve<br>Football Top</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">1 colour</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="Black"> <b>&#8377;3,495</b></FONT>
            </TD>
        </TR>
        </TABLE></CENTER>
    </TD>
    <TD><CENTER><div class="container">
        <img src="../images/Women/dress13.jpg" alt="clothing" class="image">
  	</CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><B>Nike One Icon Slash</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Women's Graphic 7/8 Leggings</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">1 colour</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="BLACK"> <b>&#8377;2,995</b></FONT>
            </TD>
        </TR>
        <TR>
            <TD><STRIKE><FONT COLOR="GREY"> &#8377;3,500</STRKE></FONT></P>
            </TD>
        </TR>
        </TABLE></CENTER>
</TR>
<TR>
    <TD><CENTER><div class="container">
        <img src="../images/Women/dress4.jpg" alt="clothing" class="image">
  	</CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><B>Nike ACG</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Women's Bodysuit</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">1 colour</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="Black"><b> &#8377;3,995</b></FONT>
            </TD>
        </TR>
        <TR>
            <TD><STRIKE><FONT COLOR="GREY"> &#8377;5,500</STRKE></FONT></P>
            </TD>
        </TR>
        </TABLE></CENTER>
    </TD>
    <TD><CENTER><div class="container">
        <img src="../images/Women/dress5.jpg" alt="clothing" class="image">
  	</CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><B>Nike ACG</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Women's Printed Short-Sleeve T-Shirt</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">2 colour</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="Black"><b> &#8377;2,195</b></FONT>
            </TD>
        </TR>
        </TABLE></CENTER>
    </TD>
    <TD><CENTER><div class="container">
        <img src="../images/Women/dress6.jpg" alt="clothing" class="image">
  	</CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><B>Nike City Ready</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Women's Running Shorts</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">1 colour</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="BLACK"><b> &#8377;3,995</b></FONT>
            </TD>
        </TR>
        <TR>
            <TD><STRIKE><FONT COLOR="GREY"> &#8377;5,395</STRKE></FONT></P>
            </TD>
        </TR>
        </TABLE></CENTER>
</TR>
<TR>
    <TD><CENTER><div class="container">
        <img src="../images/Women/dress12.jpg" alt="clothing" class="image">
  	</CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><B>Nike Air</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Women's Long-Sleeve Crop</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">1 colour</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="BLACK"> <b>&#8377;3,995</b></FONT>
            </TD>
        </TR>
        <TR>
            <TD><STRIKE><FONT COLOR="GREY"> &#8377;2,795</STRKE></FONT></P>
            </TD>
        </TR>
        </TABLE></CENTER>
    </TD>
    <TD><CENTER><div class="container">
        <img src="../images/Women/dress14.jpg" alt="clothing" class="image">
  	</CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><B>Nike x Off-White</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Women's Tie-Dye Jacket</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">1 colour</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="BLACK"><b> &#8377;12,795</b></FONT>
            </TD>
        </TR>
        <TR>
            <TD><STRIKE><FONT COLOR="grey"> &#8377;15,995</STRKE></FONT></P>
            </TD>
        </TR>
        </TABLE></CENTER>
    </TD>
    <TD><CENTER><div class="container">
        <img src="../images/Women/dress9.jpg" alt="clothing" class="image">
  	</CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><B>Nike Multiplier</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">No-Show Socks (2 pairs)</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">1 colour</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="BLACK"><b> &#8377;3,995</b></FONT>
            </TD>
        </TR>
        </TABLE></CENTER>
</TR>
</TABLE>
</right>
</BODY>
</HTML>
