<HTML>
    <HEAD>
        <TITLE>Women's Accessories</TITLE>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../CSS/Wmen.css">
        <link nes="" rel="icon" sizes="192x192" href="https://www.nike.com/android-icon-192x192.png">
        <meta charset="UTF-8">
    </HEAD>
    <BODY>
        <header><a class="button">ACCESSORIES</a></header>
        <TABLE style="width:100%">
            <TR>
                <TD><CENTER><div class="container">
                    <img src="../images/Women/acc1.jpg" alt="accessories" class="image">
                    </CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><B>Jordan Jumpman</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Wristbands</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">1 colour</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="Black"><b> &#8377;595</b></FONT>
            </TD>
        </TR>
        <TR>
            <TD><STRIKE><FONT COLOR="GREY"> &#8377;1,005</STRKE></FONT></P>
            </TD>
        </TR>
        </TABLE></CENTER>
    </TD>
    <TD><CENTER><div class="container">
        <img src="../images/Women/acc2.jpg" alt="accessories" class="image">
  	</CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><B>NikeCourt AeroBill Rafa Heritage86</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Tennis Hat</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">1 colour</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="Black"> <b>&#8377;1,295</b></FONT>
            </TD>
        </TR>
        </TABLE></CENTER>
    </TD>
    <TD><CENTER><div class="container">
        <img src="../images/Women/acc11.jpg" alt="accessories" class="image">
  	</CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><B>Nike Air Heritage 2.0</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Cross-Body Bag</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">1 colour</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="BLACK"> <b>&#8377;1,395</b></FONT>
            </TD>
        </TR>
        <TR>
            <TD><STRIKE><FONT COLOR="GREY"> &#8377;2,500</STRKE></FONT></P>
            </TD>
        </TR>
        </TABLE></CENTER>
</TR>
<TR>
    <TD><CENTER><div class="container">
        <img src="../images/Women/acc10.jpg" alt="accessories" class="image">
  	</CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><B>Nike Tech</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Hip pack</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">1 colour</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="Black"><b> &#8377;2,295</b></FONT>
            </TD>
        </TR>
        <TR>
            <TD><STRIKE><FONT COLOR="GREY"> &#8377;3,500</STRKE></FONT></P>
            </TD>
        </TR>
        </TABLE></CENTER>
    </TD>
    <TD><CENTER><div class="container">
        <img src="../images/Women/acc5.jpg" alt="accessories" class="image">
  	</CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><B>Nike Sportswear Pro</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Adjusted Hat</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">2 colour</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="Black"><b> &#8377;1,695</b></FONT>
            </TD>
        </TR>
        </TABLE></CENTER>
    </TD>
    <TD><CENTER><div class="container">
        <img src="../images/Women/acc6.jpg" alt="accessories" class="image">
  	</CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><B>Nike Brasilia</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Training Duffel Bag(Small)</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">1 colour</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="BLACK"><b> &#8377;2,295</b></FONT>
            </TD>
        </TR>
        <TR>
            <TD><STRIKE><FONT COLOR="GREY"> &#8377;3,395</STRKE></FONT></P>
            </TD>
        </TR>
        </TABLE></CENTER>
</TR>
<TR>
    <TD><CENTER><div class="container">
        <img src="../images/Women/acc7.jpg" alt="accessories" class="image">
  	</CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><B>Nike Brasilia</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Training Duffel Bag(medium)</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">1 colour</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="BLACK"> <b>&#8377;2,995</b></FONT>
            </TD>
        </TR>
        <TR>
            <TD><STRIKE><FONT COLOR="GREY"> &#8377;3,700</STRKE></FONT></P>
            </TD>
        </TR>
        </TABLE></CENTER>
    </TD>
    <TD><CENTER><div class="container">
        <img src="../images/Women/acc8.jpg" alt="accessories" class="image">
  	></CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><B>Nikecourt AeroBill Featherlight</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Women's Tennis Visor</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">1 colour</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="BLACK"><b> &#8377;1,095</b></FONT>
            </TD>
        </TR>
        <TR>
            <TD><STRIKE><FONT COLOR="grey"> &#8377;2,100</STRKE></FONT></P>
            </TD>
        </TR>
        </TABLE></CENTER>
    </TD>
    <TD><CENTER><div class="container">
        <img src="../images/Women/acc9.jpg" alt="accessories" class="image">
  	</CENTER>
        <CENTER><TABLE>
        <TR>
            <TD><P><B>Nike Sportswear Essential</B></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">Tote</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><P><FONT COLOR="GREY">1 colour</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD><FONT COLOR="BLACK"><b> &#8377;2,995</b></FONT>
            </TD>
        </TR>
        </TABLE></CENTER>
</TR>
</TABLE>
</right>
</BODY>
</HTML>
