@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


*{
  margin: 0;
  padding: 0;
}
.container{
  padding: 0 32px;
}
.top_navbar{
  background-color: #f3f4f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 8px 32px; */
}

.top_navbar_right ul{
  display: flex;
  gap: 30px;
  list-style: none;
}
.top_navbar_right ul li{
  font-size: 12px;
  font-weight: 500;
  color: rgb(17, 17, 17);
}

.bottom_navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 12px 32px; */
}

.bottom_navbar_center ul{
  display: flex;
  gap: 30px;
  list-style: none;
}

.bottom_navbar_right{
  display: flex;
  gap: 16px;
  align-items: center;
}

.search_input{
  border-radius: 50px;
  border: 1px solid red;
  overflow: hidden;
  display: flex;
  position: relative;
}
.search_input input{
  width: 100%;
  border: none;
  padding: 8px 12px 8px 40px;
}
.search_icon{
  padding: 4px 4px 4px 4px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;

}


.navbar_mobile_continer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 32px;
}

.navbar_mobile_right{
  display: flex;
  align-items: center;
  gap: 16px;
}

#navbar_menu{
  position: fixed;
  /* inset: 0; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(71, 70, 70, 0.303);
  z-index: 100;
}


.navbar_sidebar{
  position: fixed;
  top: 0;
  /* left: 0; */
  right: 0;
  bottom: 0;
  width: 300px;
  
  background-color: rgb(255, 255, 255);
  z-index: 100;
}





.product_container{
  display: grid;
  grid-template-columns: 3fr 2fr;
  padding: 24px 60px;
  gap: 100px;
  /* position: relative;; */
}



.gallery_container{
  display: flex;
  gap: 24px;
  
  position: sticky;
  top: 0;
  align-self: start;
}

.thumbnail_container{
  width: 80px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.thumbnail_img{
  width: 100%;
  /* height: ; */
  border-radius: 8px;
  overflow: hidden;
  /* margin-bottom: 8px; */
  aspect-ratio: 1/1;
  background-color: #f3f4f6;
}

.thumbnail_img img{
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: contain;
}

.product_details{
/* border: 1px solid red; */
/* height: 400px; */
display: grid;
gap: 36px;
}


.img_continer{
  flex: 1;
  /* background: #000; */
}
.img_continer img{
  width: 100%;
  height: auto;
}


.product_details h1{
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
}

.product_details h2{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 16px;
}

.price_detail{
  display: inline-flex;
  gap: 20px;
  margin-bottom: 16px;
}

.price_detail span{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.old_price{
  position: relative;
  color: #6b7280;
}

.old_price .line{
  height: 2px;
  background-color: #6b7280;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}

.price_off{
  color: #22c55e;
}

.detail_thumbnail{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 8px;
}


.product_size_header_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product_size_header_container span{
  color: #6b7280;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.product_size_header_container h4{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.sizes_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.sizes_container button{
  padding: 12px;
  font-size: 16px;
  font-weight: 500;
  background-color: white;
  border: 1px solid rgb(216, 215, 215);
  border-radius: 4px;
}

.sizes_container button:hover{
  border-color: #232324;
}

.product_action_container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

 .product_action_container .info span{
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.btn{
  /* border: 1px solid yellow; */
  font-size: 16px;
  padding: 18px 24px;
  border-radius: 100px;
  background-color: #fff;
  cursor: pointer;
}
.btn_outline{
  border: 1px solid rgb(161, 160, 160);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.btn_primary{
  background-color: #111;
  color: #fff;
}

.btn_primary:hover{
  background-color: #111111ca;
  border: 1px solid #111111ca;
}



/* accodrion */
.accordion {
  /* background-color: #eee; */
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;

  display: flex;
  justify-content: space-between;
  border-top: 1px solid #d1d5db;
  background-color: #fff;
}
/* .active, .accordion:hover {
  background-color: #ccc; 
} */
.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}




/* product card */
/* 
.horizontal_scroll{
  overflow: auto;
  white-space: nowrap;
} */

.horizontal_scroll{
  white-space: nowrap;
  overflow: auto;
}

.app_product_card{
  min-width:  320px;
  /* height: 500px; */
  overflow: hidden;

  width: 360px;
  display: inline-block;
}
.app_product_card .app_product_img{
  width: 100%;
  height: 240px;
}

.app_product_card .app_product_img img{
  width: 100%;
  height: 100%;
}

.app_product_detail .product_material{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: red;
}

.app_product_detail h3{
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: rgb(32, 32, 32);
}

.app_product_detail p{
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #727275;
}

.product_colors{
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #727275;
}

.product_price{
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: rgb(32, 32, 32);
}




/* mobile devices or small devices */
@media only screen and (max-width: 640px){
  .product_container{
    display: flex;
    flex-direction: column;
  }

  .gallery_container{
    position: static;
  }

}
