@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


*{
  margin: 0;
  padding: 0;
}
.container{
  padding: 0 32px;
}
.top_navbar{
  background-color: #f3f4f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 8px 32px; */
}

.top_navbar_right ul{
  display: flex;
  gap: 30px;
  list-style: none;
}
.top_navbar_right ul li{
  font-size: 12px;
  font-weight: 500;
  color: rgb(17, 17, 17);
}

.bottom_navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 12px 32px; */
}

.bottom_navbar_center ul{
  display: flex;
  gap: 30px;
  list-style: none;
}

.bottom_navbar_right{
  display: flex;
  gap: 16px;
  align-items: center;
}

.search_input{
  border-radius: 50px;
  border: 1px solid red;
  overflow: hidden;
  display: flex;
  position: relative;
}
.search_input input{
  width: 100%;
  border: none;
  padding: 8px 12px 8px 40px;
}
.search_icon{
  padding: 4px 4px 4px 4px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;

}

/* action_btn */
.action_btn{
  border-radius: 50px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.action_btn:hover{
  background-color: rgb(203, 203, 203);
  transition: 0.3s ease-in-out;
}


/* hero_section */


/* background approach */
/* .hero_section{
  width: 100%;
  height: 400px;
  background-image: url('../images/nike-just-do-it.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} */

.hero_section{
  width: 100%;
  /* height: 400px; */
}
.hero_section img{
  width: 100%;
  height: auto;
}

.hero_section_2{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 120px;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.hero_section_2 p{
  font-size: 16px;
  font-weight: 400;
  color: rgb(17, 17, 17);
}
.hero_section_2 h3{
  font-size: 76px;
  font-weight: 900;
  line-height: 64.4px;
  font-family: "Archivo Black", sans-serif;
  text-transform: uppercase;
}

.btn{
  padding: 12px 24px;
  border-radius: 50px;
  background-color: black;
  color: white;
}


/* new_appreal */

.new_appreal{
  display: flex;
}
/* 1st method */
.product_card{
  flex: 1;
  background-image: url('../images/1.jpg');
  background-position: center;
  background-size: cover;
}
.product_detail{
   height: 480px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  justify-content: end;
  padding: 40px;
}
.product_detail p{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #f3f4f6;
}
.product_detail h3{
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  color: #f3f4f6;
}


/* new_appreal_2 */
.new_appreal_2{
  display: flex;
}

.product_card_2{
  flex: 1;
  position: relative;
  overflow: hidden;
}

.product_card_2 img{
  width: 100%;
  height: 100%;
}

.product_detail_2{
  position: absolute;
  bottom: 40px;
  left: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}


.product_detail_2 p{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #f3f4f6;
}
.product_detail_2 h3{
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  color: #f3f4f6;
}


/* .grid_example{
  display: grid;
  grid-template-columns: 100px 200px 400px auto;
  gap: 20px;
  height: 500px;
}

.grid_item{
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
} */


.new_appreal_3{
  display: grid;
  grid-template-columns: auto auto;
}




/* catalogs_container  */

.catalogs_container{
  display: flex;
  padding: 12px 30px;
}

.catalogs_sidebar{
  width: 280px;
  background-color: red;
}

.catalogs_listing_container{
  flex: 1;
  /* background-color: yellow; */
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}

.app_product_card{
  min-width:  320px;
  /* height: 500px; */
  overflow: hidden;
}
.app_product_card .app_product_img{
  width: 100%;
  height: 240px;
}

.app_product_card .app_product_img img{
  width: 100%;
  height: 100%;
}

.app_product_detail .product_material{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: red;
}

.app_product_detail h3{
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: rgb(32, 32, 32);
}

.app_product_detail p{
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #727275;
}

.product_colors{
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #727275;
}

.product_price{
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: rgb(32, 32, 32);
}